.logo {
  border-radius: 50%;
  background-color: #fff;
  padding: 3px;
  margin-left: 10px;
  border: 1px solid #e2b62f;
	box-shadow:  -1px 1px #e2b62f,
		 -2px 2px #e2b62f,

}

.containtBody {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 30px;
}

.containtBody2 {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 30px;
}

.trix-button-row {
  display: none;
}

.custom-css-class {
  border: 1px solid black;
  width: auto;
  height: auto;
  padding: 30px;
}

.space {
  height: 30px;
}

.space2 {
  height: 10px;
}

.bodyWrap {
  padding-left: 15px;
  padding-right: 10px;
  min-height: 500px;
}

.sideMenuCustom {
  display: none;
  padding-top: 5px;
}

.sideMenuCustom  div{
  display: inline-block;
  padding-left: 15px;
}
.footer  {
  text-align: center;
}
.footer i {
  padding-left: 5px;
}
.copyright {
  font-size: xx-small;
  color: gray;
}

/*@media screen and (max-width: 600px) {
  .navabarTab {display: none;}
  .sideMenuCustom {
    display: block;
  }
}*/
.text_align {
  text-align: justify;
}

.section_text {
  padding: 20px;
}

.div_text {
  padding: 30px;
}

.deleteBtn {
  background-color: #de5d83;
  border: #de5d83;
}
.deleteBtn:hover {
  background-color: #de5d83;
  background: #de5d83;
  color: #de5d83;
}
